/*  GLOBAL RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f6f3ee; /* light beige background */
    color: #2b2520; /* dark brown text */
}

img{
max-width:100%;
height:auto;
}


a {
    text-decoration: none;
    color: inherit;
}

/*  NAVBAR  */
.home .logo {
    color: white; 
}

.home nav a {
    color: white; 
}
.nav-left{
display:flex;
align-items:center;
gap:15px;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;

}

nav a {
    margin-left: 30px;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #caa46a;
}

/* ORDER BUTTON */

.order-btn {
    border: 1px solid #7a5a3b;
    padding: 8px 18px;
    border-radius: 25px;
    background: #7a5a3b;
    color: white;
}

/* CART BUTTON */

.cart-btn{
    display:flex;
    justify-content:center;
    align-items:center;

    width:38px;
    height:38px;

    border-radius:50%;
    border:2px solid #8b5e3c;

    font-size:18px;
    text-decoration:none;
    color:#8b5e3c;

    margin-left:15px;
}


.cart-btn:hover{
    background:#8b5e3c;
    color:white;
}

nav{
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
}

nav a{
    white-space:nowrap;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;

}

nav a {
    margin-left: 30px;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #caa46a; /* gold accent */
}

.order-btn {
    border: 1px solid #7a5a3b;
    padding: 8px 18px;
    border-radius: 25px;
    background: #7a5a3b; /* add the background color */
    color: white;
}

/*  HERO SECTION (HOME) */

.hero{
    height:100vh;
    background:url("image/coffee-hero.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;

}



.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: relative;
    max-width: 800px;
    padding: 20px;

    color: white;
}

.est {
    letter-spacing: 3px;
    margin-bottom: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 700;
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-style: italic;
    color: #caa46a;
    margin-top: -10px;
}

.description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
}

/*  BUTTONS  */

.buttons {
    margin-top: 30px;
}

.primary-btn {
    display: inline-block;
    background: #7a5a3b;
    padding: 14px 30px;
    border-radius: 8px;
    margin-right: 15px;
    transition: 0.3s;
    color: white;
}

.primary-btn:hover {
    background: #6a4d33;
}

.secondary-btn {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 8px;
    border: 1px solid white;
    transition: 0.3s;
    color: white;
}

.secondary-btn:hover {
    background: white;
    color: #2b2520;
}

/*  PAGE HEADER  */

.page-header {
    padding: 140px 20px 60px;
    text-align: center;
    border-bottom: 1px solid #e4ded6;
}

.page-header h1 {
    font-size: 60px;
    font-weight: bold;
    
}

/* HERO TEXT (MENU STYLE) */

.hero-text {
    text-align: center;
    padding: 120px 20px 60px;
    border-bottom: 1px solid #e4ded6;
}

.hero-text h1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 1.2;
}

.yellow {
    color: #caa46a;
}

.hero-text p {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #6b635c;
}

/* MAIN LAYOUT */

.menu-container{
display:flex;
gap:80px;
padding:130px 90px 110px;
align-items:flex-start;
background:linear-gradient(to bottom,#f6f3ee,#efe7dc);
}





/* SIDEBAR */

.menu-sidebar{
width:250px;
flex-shrink:0;
position:sticky;
top:110px;

background:#ffffff;
padding:30px 28px;

border-radius:14px;

border:1px solid #ece4db;

box-shadow:0 15px 35px rgba(0,0,0,0.08);
}


/* CATEGORY TITLE */

.menu-sidebar h3{
margin-top:26px;
margin-bottom:16px;

font-size:12px;
letter-spacing:2px;
text-transform:uppercase;

color:#caa46a;

border-bottom:2px solid #f1e8dd;
padding-bottom:6px;
}


/* SIDEBAR LINKS */

.menu-sidebar a{
display:block;
margin-bottom:10px;
font-size:14px;
color:#5f574f;
transition:0.25s;
padding:4px 0;
}

.menu-sidebar a:hover{
color:#caa46a;
transform:translateX(6px);
}



/* MAIN CONTENT */

.menu-content h2{
font-family:'Playfair Display', serif;
font-size:38px;
margin-bottom:40px;

color:#2b2520;

position:relative;
}

.menu-content h2:after{
content:"";
display:block;
width:60px;
height:3px;
background:#caa46a;
margin-top:10px;
}


.menu-content h3{
font-family:'Playfair Display', serif;
margin-top:10px;
margin-bottom:18px;

font-size:24px;

color:#7a5a3b;
}

.menu-container{
display:flex;
gap:100px;
padding:120px 80px 100px 80px;
align-items:flex-start;
}


/* GRID LAYOUT */

.menu-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:45px;

margin-bottom:90px;
}


.menu-column{
display:flex;
flex-direction:column;
gap:25px;
}


/* MENU ITEM CARD */

.menu-item{
display:flex;
align-items:center;
gap:22px;

background:#ffffff;
padding:18px 20px;

border-radius:14px;

border:1px solid #eee5dc;

box-shadow:0 12px 28px rgba(0,0,0,0.07);

cursor:pointer;
transition:0.3s;
}

.menu-item:hover{
transform:translateY(-4px);
box-shadow:0 18px 38px rgba(0,0,0,0.12);
}



/* BIGGER IMAGES */

.menu-item img{
width:90px;
height:90px;

border-radius:50%;

object-fit:cover;

border:3px solid #f1e8dd;
}



/* TEXT */

.menu-item span{
font-size:17px;
font-weight:500;

color:#2b2520;

font-family:'Inter', sans-serif;
}


/* LOCATIONS PAGE */


.location-hero{
height:350px;
background:url("image/shop1.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
margin-top:100px;
}
.location-overlay{
background:rgba(0,0,0,0.35);
width:100%;
height:100%;

display:flex;
align-items:center;
justify-content:center;
}

.location-overlay h1{
font-family:'Playfair Display', serif;
font-size:48px;
letter-spacing:2px;
color:white;
text-align:center;
}


.location-section{
padding:80px 60px 80px;
background:#f7f4ef;
}

.location-container{
max-width:1100px;
margin:auto;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px;
}

.location-card{
background:white;
border-radius:14px;
overflow:hidden;
box-shadow:0 8px 25px rgba(0,0,0,0.08);
transition:0.25s;
}

.location-card:hover{
transform:translateY(-6px);
box-shadow:0 12px 30px rgba(0,0,0,0.12);
}

.location-card img{
width:100%;
height:350px;
object-fit:cover;
}

.location-info{
padding:25px;
text-align:center;
}

.location-info h3{
font-family:'Playfair Display', serif;
font-size:22px;
margin-bottom:15px;
color:#2b2520;
}

.address{
color:#6b635c;
margin-bottom:10px;
line-height:1.6;
}

.phone{
font-size:14px;
margin-bottom:10px;
color:#6b635c;
}

.hours{
font-size:14px;
margin-bottom:18px;
color:#6b635c;
}




/* Curated (centered) sections */
/* seasonal on home */
.curated {
  background: #f6f3ee;
  padding: 90px 60px;
}

.curated-inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.curated-title {
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  margin-bottom: 10px;
}

.curated-subtitle {
  font-size: 14px;
  color: #6b635c;
  margin-bottom: 40px;
}

.curated-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-bottom: 28px;
}

.curated-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.curated-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 15%;  
}


.curated-body {
  padding: 18px 18px 20px;
}

.curated-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.curated-row h3 {
  font-size: 15px;
  font-weight: 600;
}

.price {
  font-size: 13px;
  color: #7a5a3b;
  white-space: nowrap;
}

.curated-desc {
  margin-top: 10px;
  font-size: 13px;
  color: #6b635c;
  line-height: 1.5;
}

.curated-cta {
  display: flex;
  justify-content: center;
}

.curated-btn {
  display: inline-block;
  border: 1px solid #7a5a3b;
  color: #7a5a3b;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 13px;
  letter-spacing: 0.5px;
  transition: 0.3s;
  background: transparent;
}

.curated-btn:hover {
  background: #7a5a3b;
  color: #fff;
}
/* responsive */
/* make it seem like separate section colors */
@media (max-width: 900px) {
  .curated-grid {
    grid-template-columns: 1fr;
  }
  .curated {
    padding: 70px 20px;
  }
}

/* ORDER PAGE */

.order-section{
padding:80px 60px;
max-width:1100px;
margin:auto;
text-align:center;
}

.order-section h1{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:10px;
}

.order-subtitle{
color:#6b635c;
margin-bottom:40px;
}

.order-section h2{
margin-top:60px;
margin-bottom:25px;
font-family:'Playfair Display', serif;
font-size:28px;
}

.order-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}


.order-item{
background:white;
border-radius:12px;
padding:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
transition:0.2s;
}

.order-item:hover{
transform:translateY(-4px);
}

.order-item img{
width:100%;
height:200px;
aspect-ratio:1/1;
object-fit:cover;
border-radius:8px;
margin-bottom:12px;
object-position:50%, 40%;
}


.order-item h3{
font-size:18px;
margin-bottom:6px;
}

.order-item p{
color:#6b635c;
margin-bottom:12px;
}

.order-item button{
background:#6b4f3c;
color:white;
border:none;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
font-size:14px;
}

.order-item button:hover{
background:#4e392a;
}


/* WHY US SECTION */

.why-us {
    padding: 100px 60px;
    background: #eee8e1;
}

.whyus-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}

.whyus-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 15px;
}

.line {
    width: 50px;
    height: 2px;
    background: #caa46a;
    margin-bottom: 25px;
}

.whyus-text p {
    color: #6b635c;
    line-height: 1.7;
    margin-bottom: 20px;
}

.whyus-image img {
    width: 100%;
    height: 380px;      /* control the height */
    object-fit: cover;  /* crops the image nicely */
    border-radius: 12px;
}

/* SEASONAL FEATURE MENU */

.page-header h1 {
    font-family: 'Playfair Display', serif; /*seasonal file header design */
    font-size: 64px;
    letter-spacing: 1px;
    margin-bottom: 10px;
} 

.seasonal-feature {
    padding: 80px 60px;
}

.seasonal-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-bottom: 50px;
}

.seasonal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.seasonal-card {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.seasonal-card img {
    width: 100%;
    height: 400px;      /* controls size */
    object-fit: cover;  /* prevents stretching */
    object-position: 50% 15%;
   
}

.seasonal-info {
    background: #7a5a3b;
    color: white;
    padding: 25px;
    text-align: center;
}

.seasonal-info h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.price {
    font-weight: 500;
    margin-bottom: 12px;
}

.seasonal-info p {
    font-size: 14px;
    line-height: 1.6;
}

/* FAQ section spacing */
.faq-header h1 {
    margin-bottom: 10px;
}

.faq-header p {
    margin-top: 10px;
}

.faq-section {
    max-width: 900px;
    margin: 80px auto;
    line-height: 1.6;
}

.faq-section h3 {
    margin-top: 30px;   /* space above each question */
    margin-bottom: 8px;
    font-weight: 600;
}

.faq-section p {
    margin-bottom: 20px; /* space between answers */
}
/* SUPPORT PAGE SPACING */

.support-header h1 {
    margin-bottom: 10px;
}

.support-header p {
    margin-top: 10px;
}
.support-section {
    max-width: 900px;
    margin: 80px auto;
    line-height: 1.6;
}

.support-section h3 {
    margin-top: 30px;   /* space above each section title */
    margin-bottom: 8px;
}

.support-section p {
    margin-bottom: 18px; /* space after paragraphs */
}

/* CONTACT PAGE SPACING */

.contact-section {
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
    line-height: 1.7;
}

.contact-section p {
    margin-bottom: 12px;
}


/* =========================
   STORY PAGE
========================= */

.story-section {
    padding: 100px 60px;
}

.story-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* STORY IMAGE */

.story-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

/* STORY TEXT */

.story-text p {
    margin-bottom: 20px;
    line-height: 1.8;
    color: #6b635c;
    font-size: 16px;
}

/* VALUES SECTION */

.values-section {
    background: #eee8e1;
    padding: 90px 60px;
    text-align: center;
}

.values-container {
    max-width: 700px;
    margin: auto;
}

.values-container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 25px;
}

.values-container p {
    margin-bottom: 12px;
    font-size: 15px;
    color: #6b635c;
    line-height: 1.6;
}

/* FOOTER */

.footer {
    background: #2b2520;
    color: #f6f3ee;
    padding: 60px 60px 30px;
    position: relative;
}

.footer-container {
    max-width: 1200px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 30px;
}

.footer-column h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 18px;
}

.footer-column a {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #d7cec2;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #caa46a;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 13px;
    color: #b8aea2;
}

.footer-brand {
    position: absolute;
    top: 70px;
    right: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 600;
    color: #f6f3ee;
}

/* HAMBURGER ICON */

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* MOBILE hamburger MENU */

@media (max-width: 768px) {
    .curated-grid {
        grid-template-columns: 1fr;
    }

    .order-grid {
        grid-template-columns: 1fr;
    }

    .seasonal-grid {
        grid-template-columns: 1fr;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 25px;
        left: auto;
        
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #2b2520;
        padding: 20px;
    }

    nav a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav.show {
        display: flex;
    }

    .whyus-container,
    .footer-container {
        grid-template-columns: 1fr;
    }

    .menu-container,
    .location-section {
        flex-direction: column;
    }

    .footer-brand {
        position: static;
        text-align: left;
        font-size: 40px;
        margin-top: 20px;
    }
}

/* Responsive */
@media (max-width: 900px) {
    .location-section {
        flex-direction: column;
        align-items: center;
    }

    .location-card img {
        height: 400px;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-brand {
        position: static;
        text-align: center;
        font-size: 40px;
    }
}






